#### Task i
Use Python tools, such as Pandas, NumPy, and Matplotlib, to read the <br>
dataset, and plot a figure that shows the dependency ratio of Sweden from <br>
1860 to 2022 <br>

In [167]:
import pandas as pd

raw_df = pd.read_csv('swedish_population_by_year_and_sex_1860-2022.csv')

# Create a list of strings for every dependent age
dependent_ages = [str(i) for i in range(15)]
dependent_ages.extend([str(i) for i in range(65,110)])
dependent_ages.append('110+')
# Create a list of strings for every working age
workers_ages = [str(i) for i in range(15,65)]

total_work_df = raw_df[raw_df['age'].isin(workers_ages)] # Get all within age
total_work_df = total_work_df.groupby(total_work_df['age']).sum() # sum all within age
total_work_df = total_work_df.groupby(total_work_df['sex']).sum() # add togheter numbers from both sexes
total_work_df = total_work_df.rename_axis('type') # rename the axis to type from gender
total_work_df = total_work_df.rename(index={'menwomen': 'worker'}) # rename the index to worker

total_dep_df = raw_df[raw_df['age'].isin(dependent_ages)]
total_dep_df = total_dep_df.groupby(total_dep_df['age']).sum()
total_dep_df = total_dep_df.groupby(total_dep_df['sex']).sum()
total_dep_df = total_dep_df.rename_axis('type') # rename the axis to type from gender
total_dep_df = total_dep_df.rename(index={'menwomen': 'depending'})

work_dep_df = pd.concat([total_work_df, total_dep_df]) # Concatenate the two dataframes to make one dataframe for both worker and depending
work_dep_df.loc['ratio'] = round((work_dep_df.loc['worker'] / work_dep_df.loc['depending'])*100,2)

display(work_dep_df)

0         0
1         0
2         1
3         1
4         2
       ...
217     108
218     109
219     109
220    110+
221    110+
Name: age, Length: 222, dtype: object

,1860,1861,1862,1863,1864,1865,1866,1867,1868,1869,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
type,,,,,,,,,,,,,,,,,,,,,
worker,2365121.00,2385678.00,2405974.00,2431967.00,2460997.00,2489173.00,2511524.0,2526275.0,2532088.00,2534589.00,...,6126556.00,6152438.00,6186647.00,6257302.0,6319419.00,6374745.00,6427401.0,6453411.00,6494457.00,6545326.00
depending,1494607.00,1526820.00,1551527.00,1579685.00,1599809.00,1619791.00,1644721.0,1667555.0,1661963.00,1645440.00,...,3518308.00,3594917.00,3664370.00,3737851.0,3800823.00,3855440.00,3900188.0,3925884.00,3957869.00,3976230.00
ratio,158.24,156.25,155.07,153.95,153.83,153.67,152.7,151.5,152.36,154.04,...,174.13,171.14,168.83,167.4,166.26,165.34,164.8,164.38,164.09,164.61