## Problem 1
Perform an appropriate train-test split on the data. In your report, justify why <br>
you chose to do the split in the way you did. In further problems, only ever <br>
perform exploratory data analysis on the training data, as testing data should <br>
never be used to draw hypotheses.

In [11]:
import pandas as pd
from sklearn.model_selection import train_test_split

RANDOM_STATE = 1

raw_df = pd.read_csv("life_expectancy.csv")
# Test size of 0.25 because this was recommended in a lecture.
test_df, train_df = train_test_split(raw_df, test_size=0.25, random_state=RANDOM_STATE)
print(train_df)

                               Country  Year  \
850                             Canada  2002
689                             Brazil  2013
5301  Saint Vincent and the Grenadines  2006
2093                            Guyana  2015
3253                          Maldives  2005
...                                ...   ...
3645                          Malaysia  2020
2423                           Iceland  1998
854                             Canada  2006
2981                     Liechtenstein  2007
4577             Sao Tome and Principe  1996

      Mean Years of Schooling, female (years)  \
850                                 12.755616
689                                  7.475190
5301                                      NaN
2093                                 8.421454
3253                                 2.660000
...                                       ...
3645                                10.568640
2423                                 9.597538
854                                 13.274400
2981                                      NaN
4577                                 3.523024

      Share of seats in parliament, male (% held by men)  \
850                                           76.354680
689                                           90.404040
5301                                          81.818182
2093                                          69.565217
3253                                          88.000000
...                                                 ...
3645                                          84.137931
2423                                          74.603175
854                                           75.735294
2981                                          76.000000
4577                                          92.727273

      Mean Years of Schooling (years)  Inequality in income  \
850                         12.789422                   NaN
689                          7.287490             39.532759
5301                         7.970880                   NaN
2093                         8.358531             25.100000
3253                         3.070000                   NaN
...                               ...                   ...
3645                        10.645060                   NaN
2423                         9.504664                   NaN
854                         13.318270                   NaN
2981                        11.659527                   NaN
4577                         4.575155                   NaN

      Carbon dioxide emissions per capita (production) (tonnes)  \
850                                           18.110990
689                                            2.648373
5301                                           1.990553
2093                                           2.610394
3253                                           1.880116
...                                                 ...
3645                                           8.422647
2423                                           9.580960
854                                           17.561854
2981                                           5.700088
4577                                           0.355978

      Expected Years of Schooling, male (years)  \
850                                   15.289771
689                                   14.852900
5301                                  13.246274
2093                                  11.675572
3253                                  12.014233
...                                         ...
3645                                  12.871810
2423                                  16.400949
854                                   14.909194
2981                                  15.441440
4577                                   8.845495

      Expected Years of Schooling (years)  \
850                             15.685228
689                             15.290590
5301                            13.456910
2093                            11.878653
3253                            12.222872
...                                   ...
3645                            13.343040
2423                            16.816860
854                             15.295005
2981                            14.422290
4577                             8.741708

      Labour force participation rate, female (% ages 15 and older)  ...  \
850                                              60.910              ...
689                                              51.296              ...
5301                                             52.730              ...
2093                                             40.550              ...
3253                                             36.979              ...
...                                                 ...              ...
3645                                             51.474              ...
2423                                             70.127              ...
854                                              61.880              ...
2981                                                NaN              ...
4577                                             37.263              ...

      Mean Age Childbearing (years)  \
850                          29.134
689                          26.674
5301                         27.300
2093                         27.068
3253                         29.066
...                             ...
3645                         30.972
2423                         28.755
854                          29.640
2981                         30.908
4577                         28.963

      Sex Ratio at Birth (males per 100 female births)  \
850                                              105.4
689                                              104.5
5301                                             102.9
2093                                             103.8
3253                                             105.8
...                                                ...
3645                                             106.6
2423                                             104.8
854                                              105.5
2981                                             114.5
4577                                             102.6

      Total Deaths (thousands)  Male Deaths (thousands)  \
850                    223.378                  113.159
689                   1272.713                  709.776
5301                     0.727                    0.403
2093                     5.635                    3.206
3253                     1.143                    0.694
...                        ...                      ...
3645                   176.170                  102.323
2423                     1.830                    0.943
854                    228.001                  115.133
2981                     0.210                    0.104
4577                     1.347                    0.723

      Female Deaths (thousands)  \
850                     110.219
689                     562.937
5301                      0.324
2093                      2.429
3253                      0.449
...                         ...
3645                     73.847
2423                      0.886
854                     112.868
2981                      0.106
4577                      0.625

      Crude Death Rate (deaths per 1,000 population)  \
850                                            7.155
689                                            6.310
5301                                           6.470
2093                                           7.431
3253                                           3.724
...                                              ...
3645                                           5.311
2423                                           6.684
854                                            7.030
2981                                           5.987
4577                                           9.887

      Life Expectancy at Birth, both sexes (years)  \
850                                        79.5680
689                                        73.9185
5301                                       74.0166
2093                                       68.2015
3253                                       74.7506
...                                            ...
3645                                       75.9378
2423                                       79.4529
854                                        80.5466
2981                                       81.5032
4577                                       61.0971

      Live births Surviving to Age 1 (thousands)  \
850                                      323.624
689                                     2924.200
5301                                       1.838
2093                                      15.777
3253                                       5.736
...                                          ...
3645                                     508.146
2423                                       4.153
854                                      345.516
2981                                       0.342
4577                                       5.017

      Net Number of Migrants (thousands)  \
850                              206.028
689                               35.308
5301                              -1.780
2093                              -6.524
3253                               0.195
...                                  ...
3645                              57.483
2423                               1.006
854                              202.483
2981                               0.124
4577                              -1.625

      Net Migration Rate (per 1,000 population)
850                                       6.600
689                                       0.175
5301                                    -15.850
2093                                     -8.603
3253                                      0.635
...                                         ...
3645                                      1.733
2423                                      3.675
854                                       6.243
2981                                      3.536
4577                                    -11.924

[1389 rows x 50 columns]